<template>
	<div class="uk-child-width-1-3@l uk-child-width-1-2@s uk-grid-divider uk-grid" data-uk-grid>
						<div>
							<div id="modal-direct-trans" class="uk-flex-top uk-modal" data-uk-modal>
								<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
									<ScCardBody class="sc-padding">
										<div class="uk-margin-bottom">
											<h3>Detail Order Invoice : {{modalData.inv_code}}</h3>
<!--											<img v-rjs="require('~/assets/img/logo_alt@2x.png')" :src="logo" class="sc-invoice-logo" alt="">-->
										</div>
										<div class="uk-grid" data-uk-grid>
											<div class="uk-flex-1">
												<div class="uk-margin-medium-bottom">
													<span class="uk-text-medium uk-text-muted">Merchant Name:</span>
													<address class="uk-text-medium uk-margin-mini-top">
														{{ modalData === '' ? '' : modalData.merchant_name}}
													</address>
												</div>
												<div>
													<span class="uk-text-medium uk-text-muted">Payment Method:</span>
													<address class="uk-text-medium uk-margin-mini-top">
														 {{modalData === '' ? '' : modalData.payment_type}}
													</address>
												</div>
											</div>
											<div class="uk-width-2-5@s">
												<div class="uk-child-width-1-2@xl uk-grid" data-uk-grid>
													<div>
														<span class="uk-text-medium uk-text-muted">Quantity:</span>
														<p class="uk-margin-bottom-remove uk-margin-mini-top">
															<span class="sc-text-semibold"> {{modalData === '' ? '' : modalData.quantity}} </span>
														</p>
													</div>
													<div>
														<span class="uk-text-medium uk-text-muted">Cashback Receive</span>
														<p class="uk-margin-bottom-remove uk-margin-mini-top">
															 {{modalData === '' ? '' : currencyFormat2(modalData.cashback, 'Rp ')}}
														</p>
													</div>
												</div>
<!--												<div class="uk-grid" data-uk-grid>-->
<!--													<div>-->
<!--														<span class="uk-text-medium uk-text-muted">Amount Due:</span>-->
<!--														<p class="uk-margin-remove uk-text-xlarge sc-text-semibold md-color-red-800">-->
<!--															 invoiceTotal | formatCurrency(invoice.currency)-->
<!--														</p>-->
<!--													</div>-->
<!--												</div>-->
											</div>
										</div>
<!--										<div class="uk-overflow-auto uk-margin-xlarge-top">-->
<!--											table-->
<!--										</div>-->
<!--										<div class="uk-margin-xlarge-top">-->
<!--											<p class="md-color-grey-600 uk-text-medium uk-text-uppercase uk-margin-remove">-->
<!--												Payment Methods-->
<!--											</p>-->
<!--											<div class="uk-child-width-1-3@m" data-uk-grid>-->
<!--												<div>-->
<!--													<ul class="uk-list uk-list-divider uk-margin-small-top">-->
<!--														<li class="sc-list-group">-->
<!--															<div class="sc-list-addon">-->
<!--																<i class="mdi mdi-paypal"></i>-->
<!--															</div>-->
<!--															<div class="sc-list-body">-->
<!--																qfriesen@labadie.net-->
<!--															</div>-->
<!--														</li>-->
<!--														<li class="sc-list-group">-->
<!--															<div class="sc-list-addon">-->
<!--																<i class="mdi mdi-bank"></i>-->
<!--															</div>-->
<!--															<div class="sc-list-body">-->
<!--																meagan.herman<br>-->
<!--																5705112251220-->
<!--															</div>-->
<!--														</li>-->
<!--													</ul>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
									</ScCardBody>
								</div>
							</div>
						</div>
					</div>
</template>

<script>
export default {
	props: ['modalData'],
	data: () => ({
		promptName: '',
		logo: require('~/assets/img/logo_alt.png')
	}),
	computed: {
		bgImage () {
			return require('~/assets/img/photos/briana-tozour-756151-unsplash.jpg')
		},
		modalImage () {
			return require('~/assets/img/photos/ray-hennessy-763310-unsplash.jpg')
		}
	},
	methods: {
		openDialog (type) {
			var self = this;
			if(type === 'dialog') {
				UIkit.modal.dialog('<p class="uk-modal-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate enim consequuntur, saepe mollitia aliquam quia, delectus cum, nobis quisquam ipsam rerum excepturi repellendus explicabo perspiciatis dolor accusantium! Voluptates, asperiores rerum.</p>');
			}
			if(type === 'alert') {
				UIkit.modal.alert('UIkit alert!').then(function () {
					console.log('Alert closed.')
				})
			}
			if(type === 'confirm') {
				UIkit.modal.confirm('UIkit confirm!').then(function () {
					console.log('Confirmed.')
				}, function () {
					console.log('Rejected.')
				})
			}
			if(type === 'prompt') {
				UIkit.modal.prompt('Name:', self.promptName).then(function (name) {
					// console.log('Prompted: ', name)
					self.promptName = name
				})
			}
		}
	},
	mounted(){
		// console.log(this.modalData)
	}
}
</script>
